REACT_APP_BASE_URL='https://api.themoviedb.org'

REACT_APP_API_KEY = "YOUR API KEY"

REACT_APP_DOMAIN_IMG="DOMAIN GET IMG"

REACT_APP_DOMAIN_BACKDROP="DOMAIN GET IMG"

REACT_APP_URL_TRAILER="LINK YOUR TRAILER.MP4"
