.display {
    display: block;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(rgb(0, 0, 0), transparent);
    width: 260px;
    height: 70px;

}


.none-display {
    display: none;
}

.poster:hover {
    filter: brightness(140%);
}

.poster {
    filter: brightness(120%);
}